<!-- index.html -->
{% extends "base.tmpl" %}

<!-- =================== -->
<!--    title block      -->
<!-- =================== -->
{% block title %}index{% endblock %}

<!-- =================== -->
<!--   styles block      -->
<!-- =================== -->
{% block styles %}
<link href="css/index.css" rel="stylesheet">
{% endblock %}

<!-- =================== -->
<!--   scripts block     -->
<!-- =================== -->
{% block scripts %}
<script src="js/index.js"></script>
{% endblock %}

<!-- =================== -->
<!--     body block      -->
<!-- =================== -->
{% block body %}

<!-- navigation partial -->
{% include "partials/navigation.tmpl" %}

<h1>Hello World!</h1>

<!-- footer partial -->
{% include "partials/footer.tmpl" %}

{% endblock %}
