$light-blue: #fafbfd;
$light-gray: #97a1b6;
$white: #fff;

p,
body {
  color: #687281;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Pingfang SC', 'Open Sans', sans-serif;
  line-height: 1.5rem;
}

a {
  border-bottom: 0;
  color: #525c65;
  text-decoration: none;
  transition: color .3s ease;

  &:active,
  &:focus,
  &:hover {
    color: #24292d;
  }
}

ul,
ol {
  list-style-type: none;
  margin-bottom: .75rem;
  margin-top: 0;
  padding: 0;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 48rem) {
    margin-bottom: 1.5rem;
  }
}

* {
  box-sizing: border-box;
  
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 1.5rem !important;
}

p {
  small,
  .small {
    font-size: .8125rem;
    line-height: 1.5rem;
  }
}

.pure-g [class *='pure-u'],
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
body,
p {
  font-family: 'Pingfang SC', 'Open Sans', sans-serif;
}

.outer_contain {
  margin: 0 auto;
  max-width: 90rem;
}

.contain {
  margin-left: auto;
  margin-right: auto;
  max-width: 73.75rem;
  padding-bottom: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 3rem;

  &::after {
    clear: both;
    content: '';
    display: table;
  }

  @media screen and (min-width: 48rem) {
    padding-bottom: 6rem;
    padding-top: 6rem;
  }

  @media screen and (min-width: 48rem) {
    padding-left: 0;
    padding-right: 0;
  }
}

.text-center {
  text-align: center !important;
}

.bg-gray {
  background-color: #fafbfc !important;
}

.bg-white {
  background-color: $white !important;
}

.pure-menu-link {
  &:hover {
    background-color: transparent;
  }
}

.button-primary {
  background-color: #f84e57;
  border-radius: 4px;
  color: $white;
  font-weight: 600;
}

.button-primary,
.pure-menu-link.button-primary {
  &:hover {
    background-color: #f84e57;
    color: $white;
  }
}

.button-large {
  height: 3rem;
  line-height: 2.625rem;
  padding: 0 .5rem;
  vertical-align: middle;
  width: 17.5rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  -webkit-font-smoothing: antialiased;
  color: #28445b;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

.bg-lightblue {
  background-color: $light-blue;
}

.navbar {
  margin: 0 auto;
  max-width: 73.75rem;

  .menu-toggle {
    border: 1px solid $light-gray;
    display: none;
    font-size: 2rem;
    padding: 2px;
    position: absolute;
    right: 16px;
    top: 1.125rem;
  }

  .menu-items {
    margin-top: 16px;
  }

  @media (max-width: 48rem) {
    .menu-items-active {
      display: block !important;
    }

    .menu-items {
      display: none;
      padding-right: 16px;
      text-align: right;

      li.pure-menu-item {
        display: block;
        text-align: center;
      }
    }

    .menu-toggle {
      display: block;
    }
  }
}

.intro {
  h1 {
    font-size: 3rem;
    font-weight: 400;
  }

  h4 {
    color: #687281;
    font-weight: normal;
  }

  ul li {
    border-left: 2px solid #dbe2e8;
    padding-left: 1.5em;
  }

  ul li p,
  h5,
  h6 {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.heading {
  margin-bottom: 4rem;
}

.syllabus {
  .content {
    margin: 0 auto;
    max-width: 58.75rem;
    padding: 4rem 0;

    ul li {
      border-bottom: 1px solid #d4ddeb;
      padding-bottom: 1rem;
      padding-top: 1rem;

      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }

  }

  .syllabus-item-title {
    margin-top: 1rem;

    h4,
    h6 {
      display: inline-block;
    }

    h4 {
      color: #97a1b6;
    }

    h6 {
      width: 16.25rem;
    }
  }

  .syllabus-item-summary {
    margin-left: 16.25rem;
  }

  @media (max-width: 48rem) {
    .content {
      padding-top: 0;
    }

    .syllabus-item-title {
      h4,
      h6 {
        display: block;
        width: 100%;
      }
    }

    .syllabus-item-summary {
      margin-left: 0;
    }
  }
}

.footer {
  .social_links {
    list-style-type: none;
    margin-top: 1rem;

    li {
      display: inline-block;
      font-size: 1.5rem;
      margin-left: .5rem;
      opacity: .6;
    }
  }

  h6 {
    margin-bottom: 0;
  }

  ul {
    font-size: .875rem;
    line-height: 1.5rem;
  }
}

.testimonies {
  .pure-g {
    letter-spacing: normal;

    .pure-1:nth-child(2) {
      border-left: 1px solid #dbe2e8;
      border-right: 1px solid #dbe2e8;

      @media (max-width: 48rem) {
        border-left: 0;
        border-right: 0;
      }
    }
  }

  .quote {
    color: #2e3d49;
    font-size: 1rem;
    font-style: italic;
    font-weight: 300;
    line-height: 2.4375rem !important;
    padding-bottom: 1.5rem;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1.5rem;
  }

  .pure-u-md-1-3 {
    padding-left: .5em;
    padding-right: .5em;

    img {
      height: 4.5rem;
    }

    p {
      color: #7d97ad;
      font-size: .75rem;
      line-height: 1.5rem;
      margin-bottom: 0;
    }

    h5 {
      margin-bottom: 0;
    }

    @media screen and (min-width: 48rem) {
      p {
        font-size: .875rem;
        line-height: 1.5rem;
      }

      .quote {
        font-size: 1.5rem;
      }
    }
  }
}

.legal-binding {
  clear: both;
  color: #aaafb2;
  margin-left: auto;
  margin-right: auto;
  max-width: 73.75rem;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  text-align: center;

  &::after {
    clear: both;
    content: '';
    display: table;
  }

  @media screen and (min-width: 48rem) {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
}
